@import '../../../common.scss';

:host {
  padding: 10px;

  .title {
    width: 180px;
    background-color: #FEF5AD;
    padding: 5px;
    height: 74px;
    box-shadow: 4px 4px 5px grey;
    margin-left: 10%;

  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    max-width: 900px;
    margin: auto;
  }

  .filter {
    width: 190px;
    height: 50px;
    background-color: $color-grey;
    font-size: 15;
    margin: 25px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
  }

  .cart-link {
    width: 140px;
    height: 50px;
    border: 2px solid $color-blue;
    font-size: 20px;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

    a {
      color: $color-blue;
    }
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
  }

  #category-select{
    background-color: $color-grey;
  }
}
